.customModal {
    background-color: rgb(168, 156, 156); 
    opacity: 1; 
    padding: 20px;
    border-radius: 4px;
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1001;
}

.customModalOverlay {
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the overlay is below the modal content but above other content */
}
