/* Container */
.rbc-calendar {
    background-color: #161616;
    color: #ffffff;
}

/* Remove padding from parent container */
.my-calendar .rbc-calendar .rbc-event {
    width: 100% !important;
}

.my-calendar .rbc-calendar .rbc-month-view {
    padding: 0 !important;
}

/* Selected slot */
.rbc-selected {
    background-color: #555555;
}

/* Day headers: So days in other monthes matches in color */
.rbc-day-bg {
    background-color: #1a1a1a;
    border: 1px solid #2a2a2a;
}

.rbc-day-bg:hover {
    background-color: #333333;
}

/* Time slot headers */
.rbc-time-slot {
    border-top: 1px solid #2a2a2a;
}

/* Time indicator */
.rbc-current-time-indicator {
    background-color: #00ffff;
}

/* Week and day views */
.rbc-time-view {
    border: 1px solid #2a2a2a;
}

/* Month view */
.rbc-month-view {
    background-color: #161616;
    border: 1px solid #2a2a2a;
}

/* Month day labels */
.rbc-month-row {
    border-top: 1px solid #2a2a2a;
}

.rbc-header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #2a2a2a;
    color: #ffffff;
}

.rbc-header a {
    color: #ffffff;
}

.rbc-header a:hover {
    color: #00ffff;
}


/* Time interval button selection don't style the forward and back buttons though */
.rbc-btn-group button:not(.rbc-nav-button) {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    /* Ensure consistent font size and padding */
    font-size: 14px;
    padding: 5px 10px;
}

/* Button hover state */
.rbc-btn-group button:not(.rbc-nav-button):hover {
    background-color: #444444;
    color: #ffffff;
}

/* Startup state for the button */
.rbc-btn-group button.rbc-active:not(.rbc-nav-button) {
    background-color: #D4D4D4;
    border: 1px solid #444444;
    color: #373A3C;
}

/* Current day */
.rbc-day-slot .rbc-time-slot.rbc-now {
    background-color: rgba(0, 255, 255, 0.1) !important;
}

.rbc-day-slot .rbc-time-slot.rbc-now::before {
    background-color: #00ffff !important;
}

.rbc-time-view .rbc-now {
    background-color: #161616 !important;
}
.rbc-now {
    color: #00ffff !important;
}

/* Weekly and Daily view time slots */
.rbc-time-view .rbc-time-header-content,
.rbc-time-view .rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #2a2a2a;
    border-right: 1px solid #2a2a2a;
    position: relative; /* Ensure position is relative */
}

.rbc-time-view .rbc-day-slot .rbc-time-slot:hover,
.rbc-time-view .rbc-time-header-content:hover {
    background-color: #333333;
    z-index: 2;
}

/* Put above the rest so can still hover over */
.rbc-time-slot {
    z-index: 2;
}

/* Calendar toolbar styles */
.rbc-toolbar {
    background-color: #161616;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
}

/* Specific styling for the date display */
.rbc-toolbar .rbc-toolbar-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Style for the navigation buttons in the toolbar */
.rbc-toolbar button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 0px;
}

.rbc-toolbar button:hover {
    background-color: #444444;
    color: #ffffff;
}

/* Ensure the calender takes the full height */
html, body, #root {
    height: 100%;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/* set clicked slot to be blue */
.rbc-event.selected {
    background-color: blue;
    color: #ffffff;
}

/* Style for add new appointment button */
.new-appt-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    width: 173px; /* Allow button to size based on content */
    margin: 20px 0 5px 14px;
}

.new-appt-button:hover {
    background-color: #444444;
}


/* Event items for month  week and day views */
/* Event items */
.rbc-event, .rbc-time-view .rbc-event {
    width: 100%;
    background-color: #333333;
    border: 1px solid #444444;
    color: #ffffff;
    border-radius: 0;
    z-index: 3; /* Place above the hover over */
}

.rbc-selected {
    background-color: #265985 !important;
    border-radius: 0;
}

/* Get full width for event */
.rbc-events-container {
    margin: 0 !important;
}