/* Header formating */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding-right: 100px;
}

.topLink a {
    margin: 5%;
}

.title-logo {
    width: 20%;
    max-width: 300px;
    margin: 1% 0 0.5% 1%;
}

.large-nav {
    padding: 5%;
    font-size: 1.5rem !important;
}

/* Styling for the links */
.register-link {
    color: #03a1a1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
  
  .register-link:hover,
  .register-link:active {
    color: #03a1a1;
    text-decoration: underline;
  }
  
  .register-link.active {
    color: #ff5733;
  }