.home-container {
    display: flex;
}

.home-information {
    flex: 1;
}

.home-image {
    flex: 1;
}

.sky-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
}

/* Display for ovrlay text */
.overlay-text {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center; 
}

.large-image-text {
    font-size: 3.5rem;
}